.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu {
    background-color: #555;
    color: white;
    padding: 10px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin: 8px 0;
    cursor: pointer;
  }