.container{
    text-align: center;
    align-items: center;
    margin-top: 10%;
    width: 500px;
    height: auto;
    border: solid 3px black;
}

.id_input{
    margin-left: 30px ;

}

.pw_input{
    margin-left: 18px;
    margin-top: 3px;
}

.login_button{
    margin: 15px;
}

.sign_up{
    text-decoration: none;
    color: blue;
    font-size: x-large; 
}
.home{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: x-large;
}