.container{
    text-align: center;
    align-items: center;
    width: 500px;
    height: auto;
    border: solid 3px black;
}

.id_input{
    margin-left: 30px ;

}

.pw_input{
    margin-left: 18px;
    margin-top: 3px;
}

.login_button{
    margin: 15px;
}

.sign_up{
    text-decoration: none;
    color: blue;
    font-size: x-large; 
    align-items: center;
}
.home{
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0;
    height: 50px;
}