.topLogo{
  margin-top: 10px; 
  margin-right: -100px;
  margin-left: 100px;
  display: flex;

}
.mainName{
  text-align: center;
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
}

.buying{

}

.freeBie{
  
}

.community{
  
}

.year{
  /* display: flex; */
}

.d-flex{
  width:230px;
  height: 30px;
  margin-right:50px;
  display: flex;
}

.join{
  margin: 0px;
}



.mypage{
  margin-right: -140px;
  margin-top: 20px;
  display: flex;
}
.alarm{
  margin-right: 0px;
  margin-top: 20px;
  display:flex
}

.navBar{
  border-bottom: 1px solid rgb(223, 220, 220);
  height: 200px;
}

/* nav link 색 변경 */
.nav-container .nav-link {
  color: black; 
  font-weight: bold;
}
.searchbutton{
  background-color: rgb(153, 151, 151);;
}
